* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Martian Mono", monospace;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: aqua;
  background-image: url(https://img.delicious.com.au/G-2mxbOh/w1200/del/2022/08/parmesan-crumbed-chicken-schnitzel-fried-eggs-and-apple-cabbage-slaw-173352-2.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: chartreuse;
}

nav{
    display: flex;
    width: 100%;
    gap: 30%;
    /* align-items: center;
    justify-content: space-around; */
}
nav .logo{
    display: flex;
    color: white;
    font-weight: 700;
    font-size: medium;
}
nav ul{
    display: flex;
    gap: 30px;
    font-weight: 300;
    align-items: center;
    
}
nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
}

nav input{
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-color: red;
    border-radius: 10%;
}
nav input:hover{
    color: red;
    background-color: white;
    cursor: pointer;
}

.button{
    color: white;
    background-color: rgb(230, 105, 105);
    border-color: rgb(222, 123, 123);
    font-weight: 900;
    padding: 10px 20px 15px 20px;
    margin-left: 250px;
}

main h1{
    color: rgb(250, 250, 20);
    font-size: 80px;
    font-weight: 900;
    margin:5% 0;
}

main{
    /* row-gap: 20px; */
    margin-top: 130px;
    margin-left: 250px;
    margin-right: 250px; 
    align-self: center;
    justify-self: center;
    /* padding: 300 350 300 350; */
}

